<p style="color: green"><%= notice %></p>

<h1 class="title">Locations</h1>
<div class="is-flex is-justify-content-space-between mb-5">
  <div data-controller="geolocation">
    <button class="button is-info" data-action="geolocation#search">Search near me</button>
  </div>

  <%= link_to "New location", new_location_path, class: "button is-primary" %>
</div>

<div class="box is-flex is-justify-content-center">
  <%= js_map locations_path(format: :json, place: params[:place], distance: params[:distance]),
    width: "800px",
    height: "500px",
    tooltips: {hover: false, html: true},
    controls: true %>
</div>

<%= form_with url: locations_path, method: :get do |form| %>
  <div class="field-body">
    <%= form.text_field :place, value: params[:place], class: "input field", placeholder: "Location" %>
    <%= form.select :distance, [10, 100], selected: params[:distance], class: "select field" %>
    <%= form.submit "Search", class: "button is-link ml-2" %>
  </div>
<% end %>

<div id="locations" class="columns mt-6 is-multiline is-centered">
  <% @locations.each do |location| %>
    <%= render location %>
  <% end %>
</div>

